{% extends "base.html" %}

{% block titulo %} Lista de articulos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar un nuevo producto</a>
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Articulos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pantalon de Jeans</td>
                    <td>3400</td>
                    <td>imagen.jpg</td>
                    <td>Pantalon de color celeste de determinada marca</td>
                    <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">Editar</a> |
                        <a name="" id="" class="btn btn-danger" href="{% url 'borrar' %}" role="button">Borrar</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        



    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}