{% extends "base.html" %}

{% block titulo %} Inicio de nuestra pagina {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido a Tienda Online</h1>
        <p class="lead">Para cargar productos, click en "Empezar"</p>
        <hr class="my-2">
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'crear' %}" role="button">Empezar</a>
        </p>
    </div>
</div> 

{% endblock %}